<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= typeof title !== 'undefined' ? title : 'Shiorra' %></title>
    <link rel="icon" href="/img/logo/logo-green.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/style.css">
    <% if (typeof headExtra !== 'undefined') { %><%- headExtra %><% } %>
</head>
<body class="<%= currentPath === '/' ? 'is-home' : '' %>">

    <%- include('../partials/header') %>

    <%- include('../partials/flash') %>

    <main class="main">
        <%- body %>
    </main>

    <%- include('../partials/footer') %>

    <script src="/js/app.js"></script>
    <% if (typeof scripts !== 'undefined') { %><%- scripts %><% } %>
</body>
</html>
