<% var _soldOut = (typeof product.stock === 'number' && product.stock <= 0);
   var _lowStock = (!_soldOut && typeof product.stock === 'number' && product.stock <= 10); %>
<article class="product-card<%= _soldOut ? ' product-card--soldout' : '' %>">
    <a href="/product/<%= product.slug %>" class="product-card__media">
        <% if (_soldOut) { %><span class="product-card__badge product-card__badge--soldout">Sold out</span>
        <% } else if (product.badge) { %><span class="product-card__badge"><%= product.badge %></span><% } %>
        <% if (product.images && product.images[0]) { %>
            <img src="<%= product.images[0].url %>" alt="<%= product.images[0].alt || product.name %>">
        <% } else { %>
            <div class="product-card__placeholder"><%= product.name %></div>
        <% } %>
    </a>
    <div class="product-card__body">
        <h3 class="product-card__name"><a href="/product/<%= product.slug %>"><%= product.name %></a></h3>
        <% if (product.tagline) { %><p class="product-card__desc"><%= product.tagline %></p><% } %>
        <p class="product-card__price">
            <%= formatINR(product.priceInPaise) %>
            <% if (product.mrpInPaise && product.mrpInPaise > product.priceInPaise) { %>
                <span class="product-card__mrp"><%= formatINR(product.mrpInPaise) %></span>
            <% } %>
        </p>
        <% if (_lowStock) { %><p class="product-card__stock">Only <%= product.stock %> left</p><% } %>
    </div>
    <% if (_soldOut) { %>
        <button type="button" class="btn btn--full" disabled aria-disabled="true">Sold out</button>
    <% } else { %>
        <form action="/cart/add" method="post" class="product-card__form">
            <input type="hidden" name="productId" value="<%= product.id %>">
            <input type="hidden" name="quantity" value="1">
            <button type="submit" class="btn btn--full">Add to cart</button>
        </form>
    <% } %>
</article>
